.anim-bottom {
  transform: translateY(100px);
  opacity: 0;
}

.anim-left {
  transform: translateX(-200px);
  opacity: 0;
}

.anim-right {
  transform: translateX(200px);
  opacity: 0;
}