.about {
  height: 70vh;
  //background: url('../img/about-background.webp') no-repeat center, rgba(0, 0, 0, 0.8);
  background: url('../img/about-background.png') no-repeat center, rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-blend-mode: multiply;

  border-radius: 5px;


  &__content {
    transition: all 0.5s;
    opacity: 1;
    padding: 50px;
    text-align: end;

    @media (max-width: 850px) {
      padding: 10px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
  }
}